# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.development
.env.test
.env.production

# Prisma generated client
/generated/

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# Temp
.tmp/
.temp/
